First Deliverables 

New Global HIV Cases

In [186]:
import pandas as pd

file2021="2021.xlsx"
file2020="2020.xlsx"

#reading the files

fragil2021=pd.read_excel(file2021)
fragil2020=pd.read_excel(file2020)

In [187]:
set(fragil2021) & set(fragil2020)
#looking at the columns

{'Cases', 'Country Code', 'Country Name', 'Series Code', 'Series Name', 'Year'}

In [188]:
common=set(fragil2021.columns)&set(fragil2020)

fragil2021ap=fragil2021.loc[:,common]
fragil2020ap=fragil2020.loc[:,common]

#looking at the common columns

/var/folders/sv/1bpgx38n2yn14wm9qk7cqmrc0000gn/T/ipykernel_33421/2930108011.py:3: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  fragil2021ap=fragil2021.loc[:,common]
/var/folders/sv/1bpgx38n2yn14wm9qk7cqmrc0000gn/T/ipykernel_33421/2930108011.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  fragil2020ap=fragil2020.loc[:,common]

In [189]:
theZips = zip (fragil2021ap.dtypes,
              fragil2020ap.dtypes)

list(theZips)
#looking at data type

[(dtype('float64'), dtype('float64')),
 (dtype('O'), dtype('O')),
 (dtype('O'), dtype('O')),
 (dtype('O'), dtype('O')),
 (dtype('O'), dtype('O')),
 (dtype('O'), dtype('O'))]

In [190]:
theZips = zip(fragil2021ap.dtypes,
             fragil2021ap.dtypes)
[x for x in theZips if len(set(x))>1]

#looking if there's any

[]

In [202]:
fragil2020ap.dropna(inplace=True)

In [226]:
fragil2020ap.Year=[int(x) for x in fragil2020ap.Year]

In [215]:
fragil2020ap

,Year,Cases,Series Name,Series Code,Country Code,Country Name
0,2020,1300,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFG,Afghanistan
1,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFE,Africa Eastern and Southern
2,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFW,Africa Western and Central
3,2020,100,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ALB,Albania
4,2020,1900,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,DZA,Algeria
...,...,...,...,...,...,...
261,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,PSE,West Bank and Gaza
262,2020,1500000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,WLD,World
263,2020,1100,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,YEM,"Yemen, Rep."
264,2020,42000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ZMB,Zambia
265,2020,25000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ZWE,Zimbabwe

In [206]:
fragil2021ap.dropna(inplace=True)

In [224]:
fragil2021ap.Year=[int(x) for x in fragil2021ap.Year]

In [225]:
fragil2021ap.Year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
261    2020
262    2020
263    2020
264    2020
265    2020
Name: Year, Length: 266, dtype: int64

In [227]:
fragil2021ap

,Year,Cases,Series Name,Series Code,Country Code,Country Name
0,2020,1500,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFG,Afghanistan
1,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFE,Africa Eastern and Southern
2,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,AFW,Africa Western and Central
3,2020,100,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ALB,Albania
4,2020,2000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,DZA,Algeria
...,...,...,...,...,...,...
261,2020,..,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,PSE,West Bank and Gaza
262,2020,1500000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,WLD,World
263,2020,1100,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,YEM,"Yemen, Rep."
264,2020,38000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ZMB,Zambia
265,2020,23000,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,ZWE,Zimbabwe

KeyError: "['Series Code'] not found in axis"

In [83]:
fragile.reset_index(inplace=True)
fragile

,Country Code,Country Name,Year,Cases,index,SeriesName
0,AFG,Afghanistan,2020.0,1500,0,Adults (ages 15+) and children (ages 0-14) new...
1,AFE,Africa Eastern and Southern,2020.0,..,1,Adults (ages 15+) and children (ages 0-14) new...
2,AFW,Africa Western and Central,2020.0,..,2,Adults (ages 15+) and children (ages 0-14) new...
3,ALB,Albania,2020.0,100,3,Adults (ages 15+) and children (ages 0-14) new...
4,DZA,Algeria,2020.0,2000,4,Adults (ages 15+) and children (ages 0-14) new...
...,...,...,...,...,...,...
537,NaN,NaN,NaN,NaN,266,NaN
538,NaN,NaN,NaN,NaN,267,NaN
539,NaN,NaN,NaN,NaN,268,NaN
540,NaN,NaN,NaN,NaN,269,Data from database: Health Nutrition and Popul...
541,NaN,NaN,NaN,NaN,270,Last Updated: 12/23/2022

In [84]:
fragile.columns=fragile.columns.str.replace(':|\s',"",regex=True)
fragile

,CountryCode,CountryName,Year,Cases,index,SeriesName
0,AFG,Afghanistan,2020.0,1500,0,Adults (ages 15+) and children (ages 0-14) new...
1,AFE,Africa Eastern and Southern,2020.0,..,1,Adults (ages 15+) and children (ages 0-14) new...
2,AFW,Africa Western and Central,2020.0,..,2,Adults (ages 15+) and children (ages 0-14) new...
3,ALB,Albania,2020.0,100,3,Adults (ages 15+) and children (ages 0-14) new...
4,DZA,Algeria,2020.0,2000,4,Adults (ages 15+) and children (ages 0-14) new...
...,...,...,...,...,...,...
537,NaN,NaN,NaN,NaN,266,NaN
538,NaN,NaN,NaN,NaN,267,NaN
539,NaN,NaN,NaN,NaN,268,NaN
540,NaN,NaN,NaN,NaN,269,Data from database: Health Nutrition and Popul...
541,NaN,NaN,NaN,NaN,270,Last Updated: 12/23/2022

In [86]:
fragileLong=fragile.iloc[:,:4]
fragileLong

    CountryCode                  CountryName    Year Cases
0           AFG                  Afghanistan  2020.0  1500
1           AFE  Africa Eastern and Southern  2020.0    ..
2           AFW   Africa Western and Central  2020.0    ..
3           ALB                      Albania  2020.0   100
4           DZA                      Algeria  2020.0  2000
..          ...                          ...     ...   ...
537         NaN                          NaN     NaN   NaN
538         NaN                          NaN     NaN   NaN
539         NaN                          NaN     NaN   NaN
540         NaN                          NaN     NaN   NaN
541         NaN                          NaN     NaN   NaN

[542 rows x 4 columns]

In [97]:
fragile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  532 non-null    object
 1   CountryName  532 non-null    object
 2   Year         532 non-null    float64
 3   Cases        532 non-null    object
 4   index        542 non-null    int64
 5   SeriesName   536 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 25.5+ KB

In [109]:
fragile.columns.to_list()

['CountryCode', 'CountryName', 'Year', 'Cases', 'index', 'SeriesName']

In [110]:
fragile.Cases.value_counts()

..       269
100       36
200       23
500       18
1100      11
        ...
23000      1
1300       1
7700       1
49000      1
25000      1
Name: Cases, Length: 108, dtype: int64

In [112]:
fragile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  532 non-null    object
 1   CountryName  532 non-null    object
 2   Year         532 non-null    float64
 3   Cases        532 non-null    object
 4   index        542 non-null    int64
 5   SeriesName   536 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 25.5+ KB